@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    height: inherit;
}
:root{
    --color-white:rgba(255, 255 ,255, 1);
    --color-black:rgba(51,51, 51, 1);
    --color-blue: rgba(8,122,234,1.0);
    --color-gray: rgba(96,103,112,1.0);
    --color-gray-80light: rgba(96,103,112,0.8);
    --color-gray-light: rgba(240,242,245,1.0);
    
    --color-gray-dim: rgba(3, 3, 3, 0.08);
    --color-gray-dim-125dark: rgba(3, 3, 3, 0.1);
    --color-gray-dim-175dark: rgba(3, 3, 3, 0.14);
    /* text */
    --text-primary: #050505;
    --text-gray: #9a9ea5;
    --font-family-sans: 'Source Sans Pro', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}