@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    height: inherit;
}
body{
    background-color: var(--color-light);
}
:root{
    --color-white:rgba(255, 255 ,255, 1);
    --color-black:rgba(51,51, 51, 1);
    --color-blue: rgba(8,122,234,1.0);
    --color-gray: rgba(96,103,112,1.0);
    --color-gray-80light: rgba(96,103,112,0.8);
    --color-gray-light: rgba(240,242,245,1.0);
    --color-light:rgba(240,242,245,1.0);

    --color-gray-dim: rgba(3, 3, 3, 0.08);
    --color-gray-dim-125dark: rgba(3, 3, 3, 0.1);
    --color-gray-dim-175dark: rgba(3, 3, 3, 0.14);
    /* text */
    --text-primary: rgba(5,5,5,1.0);
    --text-gray: rgba(154,158,165,1.0);
    --text-blue:rgba(24,119,242,1.0);

    --font-family-sans: 'Source Sans Pro', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
hr{
    height: 1px;
    background-color: var(--color-gray-dim-125dark);
}
.img-square-border{
    border-radius: 5px;
}
.img-square-cicle{
    border-radius: 50%;
}
button{
    cursor: pointer;
}
