$height-header: 56px;

.img-icon1 {
    object-fit: cover;
    object-position: 20% 0;
}



.page {
    position: relative;
}


.scroll--list {
    overflow: auto;
    max-height: calc((#{$height-header} - 100vh)*(-1));
    position: fixed;
}

.scroll--list::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.scroll--list::-webkit-scrollbar-track {
    background-color: var(--color-gray-dim-125dark);
}

/* Handle */
.scroll--list::-webkit-scrollbar-thumb {
    background: var(--color-gray-dim-175dark);
    border-radius: 10px;
}

.scroll--list:hover::-webkit-scrollbar {
    transition-delay: 5;
    width: 10px;
}

.title--list {
    display: flex;
    align-items: center;
    font-family: var(--font-family-sans);
    font-size: 16px;
    font-weight: 600;
    color: var(--text-gray);
}

.header__link {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        height: 82%;
        .header__link--element {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-gray-80light);
            border-radius: 10px;

            svg {
                font-size: 22px;
            }
            p{
                display: flex;
                align-items: center;
                font-family: var(--font-family-sans);
                font-weight: bold;
                font-size: 16px;
                color: var(--text-gray);
            }
            &:hover:not(.active) {
                background-color: var(--color-gray-light);
            }
            &.active {
                position: relative;
    
                &::after {
                    content: '';
                    width: 100%;
                    height: 4px;
                    position: absolute;
                    bottom: -5px;
                    background-color: var(--color-blue);
                }
    
                color: var(--color-blue);
                p{
                    color: var(--color-blue);
                }
            }
        }

        
    }

}



.header {
    width: 100%;
    height: $height-header;
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);
    padding: 0px 1.5vw;
    position: fixed;
    z-index: 10;

    .header__infor {
        height: 100%;
        width: 320px;
        display: flex;
        align-items: center;

        .header__infor--logo {
            height: 75%;

            svg {
                height: 100%;
                color: var(--color-blue);
            }
        }

        .header__infor--search {
            width: 240px;
            height: 70%;
            margin-left: 10px;
            display: flex;
            align-items: center;

            .header--search-btn {
                width: 28px;
                height: 100%;
                background-color: var(--color-gray-light);
                border-top-left-radius: 19px;
                border-bottom-left-radius: 19px;
                display: flex;
                align-items: center;
                flex-direction: row-reverse;

                svg {
                    font-weight: 100;
                    font-size: 16px;
                    color: var(--color-gray);
                }
            }

            .header--search-input {
                list-style: none;
                width: 212px;
                height: 100%;
                font-size: 14px;
                outline: none;
                border: none;
                background-color: var(--color-gray-light);
                color: var(--text-gray);
                border-top-right-radius: 19px;
                border-bottom-right-radius: 19px;
            }

            .header--search-input::placeholder {
                color: var(--text-gray);
                padding-left: 10px;
            }
        }
    }

    .header__feature {
        width: 575px;
        height: 100%;
        position: absolute;
        left: calc(50% - 575px/2);

        .header__feature--element {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                width: calc(20% - 4px);        
            }

        }
    }

    .header__other {
        width: 267px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header__other--individual {
            width: 28%;
            height: 36px;
            display: flex;
            align-items: center;
            border-radius: 18px;

            &:hover {
                background-color: var(--color-gray-dim);
            }

            .header--individual--img {
                width: 28px;
                height: 28px;
                margin-left: 5px;
            }

            .header--individual--name {
                margin-left: 7px;

                p {
                    display: flex;
                    align-items: center;
                    font-family: var(--font-family-sans);
                    font-weight: 600;
                    color: var(--text-primary);
                }
            }
        }

        .header__other--feature {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                display: flex;
                align-items: center;
                justify-content: center;

                .header__other--box {
                    width: 40px;
                    height: 40px;
                    background-color: var(--color-gray-dim-125dark);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &:hover {
                        background-color: var(--color-gray-dim-175dark);
                    }

                    svg {
                        font-size: 18px;
                        color: var(--color-black);
                    }
                }
            }
        }
    }
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    top: $height-header;
    $width-side: 360px;

    .content__list {
        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 20px;
        }

        a {
            .content__list--link {
                display: flex;
                align-items: center;
                padding: 7px 0px;
                border-radius: 7px;
                width: 95%;

                &:hover {
                    background-color: var(--color-gray-dim);
                }

                .content__list--img {
                    width: 36px;
                    height: 36px;
                    margin-left: 5px;
                }

                .content__list--icon {
                    width: 36px;
                    height: 36px;
                    margin-left: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: var(--color-gray-dim-125dark);
                    border-radius: 50%;
                }

                .content__list--name {
                    margin-left: 7px;
                    width: 80%;

                    .content__list--name-des {
                        margin-right: 5px;
                        color: var(--text-gray-dim);
                    }

                    p {
                        display: flex;
                        align-items: center;
                        font-family: var(--font-family-sans);
                        font-weight: 600;
                        font-size: 16px;
                        color: var(--text-primary);
                    }
                }
            }
        }
    }


    .container__left {
        width: $width-side;
        height: auto;
        left: 1.5vw;

        .container__left--shortcuts {
            &:hover .container__left--edit button {
                display: block;
            }

            .container__left--edit {
                height: 37px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    display: none;
                    padding: 0px 5px;
                    color: var(--text-blue);

                    &:hover {
                        background-color: var(--color-gray-dim);
                    }
                }
            }
        }
    }

    $width-container-main: 735px;

    .container__main {
        width: $width-container-main;
        position: absolute;
        top: 0px;
        right: calc((#{$width-container-main} / 2 - 50%)*(-1));
        display: flex;
        justify-content: center;

        .container__content {
            width: 80%;

            .container__content--block {
                margin-top: 20px;
                background-color: var(--color-white);
                border-radius: 8px;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.12);
            }
            $height-news:300px;
            .container__content--news {
                height: $height-news;
                .container__content--news-action{
                    height: 60px;
                    width: 100%;
                    border-bottom: 1px solid var(--color-gray-dim-175dark);
                    padding: 0px 4%;
                    a{
                        width: 33%;
                    }
                }
                .container__content--news-reels{
                    height: calc(#{$height-news} - 60px);
                    display: flex;
                    align-items: center;
                    padding-left: 8px;
                    overflow: auto;
                    max-width: 100%;
                
                    .container__content--news-reels-pre,
                    .container__content--news-reels-next{
                        width: 48px;
                        height: 48px;
                        background-color: var(--color-white);
                        position: absolute;
                    }
                    .container__content--news-reels-pre{
                        left: 13%;
                    }
                    .container__content--news-reels-next{
                        right: 13%;
                    }
                    .container__content--news-reels-next:hover,
                    .container__content--news-reels-pre:hover{
                        background-color: var(--color-gray-light);
                    }
                    .container__content--news-box{
                        min-width: 112px;
                        max-width: 112px;
                        height: 200px;
                        margin-left: 8px;
                        background-color: var(--color-gray-dim);
                        border-radius: 10px;
                    }
                }
                .container__content--news-reels::-webkit-scrollbar {
                    width: 0px;
                    height: 0px;
                }
            }
            $height-actions:123px;
            .container__content--action{
                height: $height-actions;
                padding: 12px 16px 10px;
                .container__content--action-post{
                    display: flex;
                    width: 100%;
                    height: 40px;
                    justify-content: space-between;
                    img{
                        width: 40px;
                    }
                    input{
                        padding: 8px 12px;
                        background-color: #80808024;
                        width: 90%;
                        border-radius: 20px;
                    }
                }
                .container__content--action-feature{
                    
                }
                hr{
                    margin: auto;
                    margin-top: 12px;
                    margin-bottom: 8px;
                    width: 100%;
                }
            }
        }
    }

    .container__right {
        width: $width-side;
        height: auto;
        overflow: auto;
        max-height: calc(100vh - $height-header);
        position: fixed;
        right: 1.5vw;

        .container--ads--img {
            margin-left: 7px;
            width: 131px;
            height: 131px;
        }

        .container--ads--link {
            color: var(--text-gray-dim) !important;
            font-size: 14px !important;
        }

        .container__right--ads {
            .content__list--name {
                width: 50% !important;
            }
        }

        .container__right-friend {
            .container__right--edit {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 324px;

                .container__right--edit-feature {
                    display: flex;
                    width: 25%;
                    justify-content: space-between;

                    .container__right--edit-link {
                        width: 32px;
                        height: 32px;
                        border-radius: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        &:hover {
                            background-color: var(--color-gray-dim);
                        }

                        svg {
                            color: var(--color-black);
                        }

                    }

                }
            }

            .content__list--img {
                position: relative;

                .content__list--img-status {

                    p {
                        font-size: 11px;
                        color: var(--text-green);
                        font-weight: 900;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: var(--font-family-sans);
                    }

                    &:not(.active) {
                        position: absolute;
                        width: 43px;
                        height: 14px;
                        background-color: var(--color-green-light);
                        border-radius: 11px;
                        top: 55%;
                        right: -3px;
                        border-top: 1px solid var(--color-gray-light);
                    }

                    &.active {
                        width: 12px;
                        height: 12px;
                        background: var(--color-green);
                        position: absolute;
                        border-radius: 60%;
                        border: 2px solid var(--color-gray-light);
                        top: 69%;
                        right: 0px;
                    }
                }


            }
        }
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 95%
    }

}